{% extends "auctions/layout.html" %} {% block body %}

<div class=""> <!--site content div-->
    <div class=""> <!--title-->
        <h2>Listing: {{ listing.title }}</h2>
    </div>
    <div class=""> <!--body-->
        <div class=""> <!--watchlist button-->
            <a href="{% url 'watchlist_add' listing.id %}" role="button" class="btn btn-secondary">Add to Watchlist</a>
        </div>
        <div class=""> <!--img-->
            <img src="{{ listing.image }}" class="img-fluid rounded-start" alt="no picture">
        </div>
        <div class=""> <!--description-->
            <p>{{ listing.description }}</p>
        </div>
        <div class=""> <!--Price-->
            <p>{{ listing.price }}</p>
        </div>
        <div class=""> <!--BidsForm-->
            <form action="{% url 'place_bid' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Place Bid</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
